<!DOCTYPE html>
<html lang="en" ng-app="training">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OvReview by PDS</title>
    <script src="webjars/angularjs/1.3.11/angular.js"></script>
    <script src="webjars/jquery/2.1.3/jquery.js"></script>
    <script src="webjars/bootstrap/3.1.1/js/bootstrap.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.1.1/css/bootstrap.css">
    <link href="stylesheet.css" type="text/css" rel="stylesheet">
    <script src="webjars/angular-ui-bootstrap/0.12.1-1/ui-bootstrap.js"></script>
    <script src="training.js"></script>

</head>

<body ng-controller="TrainingController" style="background-image:url(hintergrund.jpg)" link="red" vlink="#8b0000">

<div id="header">

    <img src="logo2.jpg" alt="Logo" height="80px" width="160px" style="float:left">

        <div overflow="auto" style="margin-top:1.75%">
            <input type="text" id="eingabe" ng-model="film" size="150" placeholder="Movies, Songs, Actors.." on-Enter="updateMovie();updateSong();updateActor();"  list="vorschlag" autocomplete="on"/>
            <datalist id="vorschlag">
                <option value="Johnny Depp">
                <option value="Disraeli">
                <option value="Nobody Does It Better">
                <option value="Peter O'Toole">
            </datalist>
        </div>
</div>

<div id="laufband">

        <marquee behavior="scroll" direction="left" width="100%">

            <p>{{latestMovies.entries}}</p>

        </marquee>

</div>

<div id="content_container">
    <div id="content">

        <div style="overflow:auto">
        <img id="bild"  style="float:left" alt="crawlerpic" ng-src="{{actorpic.id}}">
        <!--<img src="beschreibung.jpg" width="600" height="300">-->
        <h1>{{movie.label}}</h1>
            <h1>{{song.label}}</h1>
            <h1>{{actor.label}}</h1>
        </div>
        <div>
            {{actorpic.infos}}
        </div>

    </div>


    <div id="sidebar_right">
        <div id="youtube">
            <iframe id="ytiframe" width="100%" height="auto" ng-src="{{youtube.id}}"></iframe>



        </div>

        <br>
        <br>

        <div id="tableMovies" style="color:white">
            Label: <a href="{{movie.uri}}" style="color:red">{{movie.label}}</a> <br>
            Runtime: {{movie.runtime}} <br>
            Publicationdate: {{movie.publicationDate}} <br>
            Genre: {{movie.genre}} <br>
            IMDB: {{rating_imdb.entries}} <br>
            RottenTomatoes: {{rating_tomato.entries}} <br>
        </div>

        <div id="tableSongs" style="color:white">
            Label: <a href="{{song.uri}}" style="color:red">{{song.label}}</a> <br>
            Interpret: {{song.interpretName}} <br>
            Movies: <div ng-repeat="abd in song.movies"> <a href="{{abd.uri}}" style="color:red">{{abd.label}}</a> <br> </div>
        </div>

        <div id="tableActors" style="color:white">
            URI: {{actor.uri}} <br>
            Label: <a href="{{actor.uri}}" style="color:red">{{actor.label}}</a> <br>
            Movies: <div ng-repeat="abc in actor.movies"> <a href="{{abc.uri}}" style="color:red">{{abc.label}}</a> <br> </div>
            <br>
        </div>
        <!--<img src="infos.jpg" width="400" height="200">-->
    </div>
</div>

<div id="footer" style="color:white"><a href="impressum.html" style="color:white">Impressum</a>   ||   <a href="mailto:test@test.de" style="color:white">Kontakt</a>   ||   <a id="myLink" style="color:white" href="#" ng-click="reloadYoutube()">Reload</a>

</div>

<script>
    document.getElementById("tableMovies").style.display = "none";
    document.getElementById("tableActors").style.display = "none";
    document.getElementById("tableSongs").style.display = "none";
</script>

</body>
</html>