<!DOCTYPE html>
<html lang="en" ng-app="training">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OvReview by PDS</title>
    <script src="webjars/angularjs/1.3.11/angular.js"></script>
    <script src="webjars/jquery/2.1.3/jquery.js"></script>
    <script src="webjars/bootstrap/3.1.1/js/bootstrap.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.1.1/css/bootstrap.css">
    <link href="stylesheet.css" type="text/css" rel="stylesheet">
    <script src="webjars/angular-ui-bootstrap/0.12.1-1/ui-bootstrap.js"></script>
    <script src="training.js"></script>

</head>

<body ng-controller="TrainingController" style="background-image:url(hintergrund.jpg)">

<div id="header">

    <img src="LinkedDB_Logo.jpg" alt="Logo" height="80px" width="128px" style="float:left">

        <div overflow="auto" style="margin-top:1.75%">
            <input type="text" id="eingabe" ng-model="film" size="150" placeholder="Movies, Songs, Actors.." ng-change="updateMovie()" list="vorschlag" autocomplete="on"/>
            <datalist id="vorschlag">
                <option value="Johnny Depp">
                <option value="Disraeli">
                <option value="Nobody Does It Better">
                <option value="Peter O'Toole">
            </datalist>
        </div>
</div>
<!--<div id="sidebar_left">

    <div>
        Suche:
        <input type="text" id="eingabe" ng-model="film" size="22" placeholder="Movies, Songs, Actors.." ng-change="updateMovie()" list="vorschlag" autocomplete="on"/>
        <datalist id="vorschlag">
            <option value="Johnny Depp">
            <option value="Disraeli">
            <option value="Nobody Does It Better">
            <option value="Peter O'Toole">
        </datalist>
    </div>

</div>
<div id="sidebar_right">Sidebar-Right</div>-->

<div id="laufband">
    <div style="color:white">
        <marquee behavior="scroll" direction="left" width="100%">

            <p>{{latestMovies.entries}}</p>

        </marquee>
    </div>
</div>
<div id="content_container">
    <div>
        Content
    </div>

    <table class="table table-hover" id="tableMovies">
        <thead>
        <tr>
            <th>uri</th>
            <th>Label</th>
            <th>Runtime</th>
            <th>Publicationdate</th>
            <th>Genre</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{{movie.uri}}">{{movie.uri}}</a></td>
            <td>{{movie.label}}</td>
            <td>{{movie.runtime}}</td>
            <td>{{movie.publicationDate}}</td>
            <td>{{movie.genre}}</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover" id="tableSongs">
        <thead>
        <tr>
            <th>uri</th>
            <th>Label</th>
            <th>Interpretname</th>
            <th>movies</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{{song.uri}}">{{song.uri}}</a></td>
            <td>{{song.label}}</td>
            <td>{{song.interpretName}}</td>
            <td>{{song.movies}}</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover" id="tableActors">
        <thead>
        <tr>
            <th>uri</th>
            <th>Label</th>
            <th>Movies</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{{actor.uri}}">{{actor.uri}}</a></td>
            <td>{{actor.label}}</td>
            <td>{{actor.movies}}</td>
        </tr>
        </tbody>
    </table>





<div id="youtube">
<iframe width="420" height="315" ng-src="{{youtube}}"></iframe>

<div id="YoutubePlayer">
</div>
</div>

</div>

<div id="footer"><a href="impressum.html" style="color:white">Impressum  |</a><a href="contact.php" style="color:white">|  Kontakt</a></div>

<script>
    document.getElementById("tableMovies").style.display = "none";
    document.getElementById("tableActors").style.display = "none";
    document.getElementById("tableSongs").style.display = "none";
</script>

</body>
</html>